# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, and serial (on
# USART3 PB11/PB10) communication.

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano.bin
# Copy the file out/Robin_nano.bin to an SD card and then restart the
# printer with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# pi@fluiddpi3:~ $ ls /dev/serial/by-id/*
# /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

# Two Trees Blue 02

#to find out your usb :  ls /dev/serial/by-id/*


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

#Uncoment if your board and mcu suports 
#[temperature_sensor pi]
#sensor_type: temperature_host
#min_temp: 10
#max_temp: 100

#[temperature_sensor mcu]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3500
max_z_velocity: 25
max_z_accel: 100

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
endstop_pin: !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
position_endstop: -5
position_min: -5
position_max: 300
homing_speed: 50

#Enable if you use UART and know what you are doing, this config if for 1-wire uart connection uart_address:0,1,2,3
# [tmc2209 stepper_x]
# uart_pin: PC7
# uart_address:0
# run_current: 0.750
# hold_current: 0.5
# interpolate: True
# stealthchop_threshold: 999999

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
rotation_distance: 40
endstop_pin: !PA12

microsteps: 32
full_steps_per_rotation: 200
position_endstop: -15
position_min: -15
position_max: 300
homing_speed: 50

#Enable if you use UART and know what you are doing, this config if for 1-wire uart connection uart_address:0,1,2,3
# [tmc2209 stepper_y]
# uart_pin: PC7
# uart_address:1
# run_current: 0.750
# hold_current: 0.5
# interpolate: True
# stealthchop_threshold: 999999

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
#endstop_pin: !PA11 # Enable For physical endstop 
#position_endstop: 0 # Enable this if you use physical endstop
endstop_pin: probe:z_virtual_endstop # Enable For BLtouch

position_min: 0
position_max: 400

#Enable if you use UART and know what you are doing, this config if for 1-wire uart connection uart_address:0,1,2,3
# [tmc2209 stepper_z]
# uart_pin: PC7
# uart_address:2
# run_current: 0.750
# hold_current: 0.5
# interpolate: True
# stealthchop_threshold: 999999 #160

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
nozzle_diameter: 0.400 #0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
max_extrude_only_distance: 600
rotation_distance: 8
full_steps_per_rotation: 200
pid_kp: 30.429
pid_ki: 1.811
pid_kd: 127.801
min_temp: 0
max_temp: 230

#Enable if you use UART and know what you are doing, this config if for 1-wire uart connection uart_address:0,1,2,3
# [tmc2209 extruder]
# uart_pin: PC7
# uart_address:3
# run_current: 0.600
# hold_current: 0.3
# interpolate: True
# stealthchop_threshold: 0

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid

pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10
min_temp: 0
max_temp: 130

[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 20,20
mesh_max: 280,280
probe_count: 5,5
algorithm: bicubic
# relative_reference_index: 1

[bed_screws]
screw1: 27,27
screw1_name: front left screw
screw2: 267,27
screw2_name: front right screw
screw3: 267,267
screw3_name: rear right screw
screw4: 27,267
screw4_name: rear left screw
horizontal_move_z: 8

[screws_tilt_adjust]
screw1: 27,27
screw1_name: front left screw
screw2: 267,27
screw2_name: front right screw
screw3: 267,267
screw3_name: rear right screw
screw4: 27,267
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M3

[safe_z_home]
home_xy_position: 150, 150
speed: 50
z_hop: 20
z_hop_speed: 15

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

# [input_shaper] #TODO

# includes other config files
[include macros_blue.cfg]
[include mainsail.cfg]

[bltouch]
sensor_pin: ^PA11
control_pin: PA8
x_offset: 25
y_offset: 13
#z_offset: 1.261
speed: 5
samples: 3
lift_speed: 3.0
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 2

[fan] # part cooling fans
pin: PB1

[heater_fan HeatSink]  # Fan connected to E1 port
pin: PB0
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[display_status]

[filament_switch_sensor filament_sensor]
switch_pin: ^PA4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.261
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.365833, 0.350833, 0.405000, 0.425833, 0.533333
#*# 	  0.187500, 0.230833, 0.245000, 0.276667, 0.399167
#*# 	  0.099167, 0.066667, 0.060000, 0.104167, 0.210000
#*# 	  -0.075000, -0.097500, -0.047500, -0.021667, 0.059167
#*# 	  -0.148333, -0.178333, -0.055000, 0.003333, 0.015833
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 280.0
#*# min_y = 20.0
#*# max_y = 280.0
